/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.swiper-pagination-bullet-active {
  background: #f7628c !important;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
  position: relative !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}



.ck-blurred {
  height: 400px !important;
}

.ck-focused {
  height: 400px !important;
}


/* 
  Popup 
  Arrows and dropshadows are applied to .popup. Text align is "centered." You'll probably want to set it to "left."
  */
.popup {
  width: max-content;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  z-index: 999;
  transform: translateY(3px);
  /* background: cadetblue; */
}

.popup:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: 0 1px 14px rgba(0, 0, 0, .2); */
}

.popup:before {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  /* transform: scale(200%); */
  /* box-shadow: 0 1px 14px rgba(0, 0, 0, .2); */
  background: rgb(253, 127, 127);
  position: absolute;
  z-index: 998;
}

/*
  Different arrow positioning
  */
.popup.arrow-top:before {
  left: calc(50% - 5px);
  top: -5px;
}

.popup.arrow-right:before {
  top: calc(50% - 5px);
  right: -5px;
}

.popup.arrow-bottom:before {
  left: calc(50% - 5px);
  bottom: -5px;
}

.popup.arrow-left:before {
  top: calc(50% - 5px);
  left: -5px;
}

/* 
  Popup wrapper
  This is where we add the white background and padding of the content within the popup
  */
.popup-wrapper {
  width: 100%;
  /* padding: 8px; */
  /* border-radius: 8px; */
  background: rgb(253, 127, 127);
  position: relative;
  z-index: 998;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  margin-left: -20px;
}

.save-button {
  content: url('/save-button.svg');
}

.publicate-button{
  content: url('/publicate.svg');
}

.create-button {
  content: url('/save-button.svg');
}

.ArrowBack {
  content: url('/ArrowBack.svg');

}

.app-wrap {
  height: 100%;
  width: 100%;
  display: flex;
}

.editor-wrap {
  widtH: 100%;
  height: 100%;
}

.pages-wrp,
.pages {
  display: flex;
  flex-direction: column
}

.gjs-one-bg {
  background-color: #22354B !important
}

.gjs-one-color {
  color: #22354B !important
}

.gjs-one-color-h:hover {
  color: #22354B !important
}

.gjs-off-prv {
  background-color: #22354B !important
}

.pages-wrp {
  background: #22354B;
  padding: 5px;
}

.add-page {
  background: #3F5A7A;
  color: white;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.page {
  background-color: #3F5A7A;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  font-size: 13px;

  &:hover {
    background-color: #2A425E
  }
}

.page-close {
  opacity: 0.5;
  background-color: #2c2c2c;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  text-align: center;
  border-radius: 3px;


  &:hover {
    opacity: 1;
  }
}

.gjs-pn-views {
  width: 180px !important;
  border-bottom: none !important;
}

.gjs-pn-options {
  right: 180px !important;
}

#gjs {
  height: 100% !important;
}

.gjs-pn-views-container {
  width: 180px !important;
}

.gjs-cv-canvas {
  width: calc(100% - 180px) !important;
}

.gjs-block{
  padding: 0 !important;
  min-height: 0 !important;
  width: 48px !important;

}



.gjs-block__media{
  margin-bottom: 0 !important;
}
.gjs-block-label{
 margin-top: -4px !important;
 margin-bottom: 2px !important;
 font-size: .60rem !important;

}

.gjs-sm-sector-title{
  padding: 9px 10px 9px 4px !important;
}

:root{
  --gjs-font-size: 0.60rem !important
}

.gjs-two-bg {
  background-color: #ffffff !important
}

.gjs-two-color {
  color: #ffffff !important
}

.gjs-two-color-h:hover {
  color: #ffffff !important
}


